<h1 class="contents-width everypage-head">ユーザー一覧</h1>
<div class="contents-width user-card">
  <% @users.each do |user| %>
    <div class="card">
      <%= link_to user_path(user) do %>
        <div class="card-image">
          <figure class="img">
          <% if user.profile_image_id? %>
            <%= image_tag user.profile_image_id.url %>
          <% else %>
            <%= image_tag "noimage.svg" %>
          <% end %>
          </figure>
        </div>
      <% end %>
        <div class="card-bottom">
          <div class="card-content">
            <div class="content">
              <%= link_to user.username, user_path(user.id) %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>