<div class="contents-width">
  <br>
  <br>
  <h1>部屋情報を変更</h1>

  <%= render 'form', room: @room %>
  <br>
  <%= link_to '詳細', @room %> |
  <%= link_to 'お部屋一覧へ', rooms_path %>
  <br>
  <br>
  <br>
</div>