// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.confirm-form{
  margin-top: 30px;
  margin-bottom: 30px;
}
.reserve-table{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  th{
    text-align: center;
    padding: 10px;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
  }
  td{
    text-align: center;
    padding: 10px;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    vertical-align: middle;
  }
}
.under-line{
  text-decoration: underline;
}
.reserve-image{
  width: 300px;
}